button{
    border-radius: 20px;
    color: red;
    background-color: black;
    border: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: 900;
}
button:hover{
    background-color: red;
    color: black;
}