*{
    margin: auto;
}
.map{
    border: solid 1px;
}
.imgFile{
    text-align: center;
    width: 400px;
    background-color: rebeccapurple;
    border: solid 1px;
    border-radius: 50px;
}
img{
    width: 300px;
    height: 250px;
    border-radius: 50%;
}
.imgFile p{
    color: white;
    font-size: 50px;
    font-weight: 900;
}